@using T3_RevillaFernandezHectorRolando.Util
@model PaginatedListUtil<T3_RevillaFernandezHectorRolando.Models.Compra>

@{
    ViewData["Title"] = "Index";

    decimal calcularSubtotal(Compra c)
    {
        return c.precioUnitario * c.cantidad;
    }

    decimal calcularTotal()
    {
        decimal total = 0;
        foreach (var i in Model)
        {
            total += calcularSubtotal(i);
        }
        return total;
    }

    string fillColorFromSubtotal(Compra compra)
    {
        decimal subtotal = calcularSubtotal(compra);
        if (subtotal > 20)
        {
            return "table-success";
        }
        return "table-light";
    }

}

<h1>Compras</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Compras" asp-action="Index" class="row g-4">
    <div class="input-group">
        <div class="form-floating col-auto">
            <input type="text" name="searchNombre" value="@ViewData["CurrentFilterNombreProducto"]" class="form-control" />
            <label>Nombre Producto</label>
        </div>
        <div class="form-floating col-auto" style="margin-left:15px;margin-right:15px">
            <input type="date" name="fecCompra" value="@ViewData["CurrentFilterFechaCompra"]" class="form-control" />
            <label>Fecha de Compra</label>
        </div>

        <div class="col-auto" style="margin-left:15px"> <input class="btn btn-success" type="submit" value="Filtrar" /></div>
    </div>
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewData["NombreProductoSort"]>
                    NOMBRE PRODUCTO
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewData["FechaCompraSort"]>
                    FECHA COMPRA
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewData["CantidadSort"]>
                    CANTIDAD
                </a>
            </th>
            <th>
                PREC. UNITARIO
            </th>
            <th>
                SUBTOTAL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@fillColorFromSubtotal(item)">
            <td>
                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioUnitario)
            </td>
            <td>
                @calcularSubtotal(item)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    <td><span style="font-weight:bold">Total:</span> @calcularTotal()</td>
    </tfoot>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilterName="@ViewData["CurrentFilterName"]"
   asp-route-currentFilterYear="@ViewData["CurrentFilterYear"]"
   asp-route-currentFilterRating="@ViewData["CurrentFilterRating"]"
   class="btn btn-outline-dark @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilterName="@ViewData["CurrentFilterName"]"
   asp-route-currentFilterYear="@ViewData["CurrentFilterYear"]"
   asp-route-currentFilterRating="@ViewData["CurrentFilterRating"]"
   class="btn btn-outline-dark @nextDisabled">
    Siguiente
</a>